@import "solarized_dark";
@import "reveal.min";
@import "themes/default";

body {
  background: #337C97;
  background-color: #337C97;
}

ul {
  width: 100%;
}

.reveal {
  font-size: 180%;
  section img {
    background: white;
  }
}

.inline-images {
  .miniatures {
    width: 31%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: center;
    margin: 5px;
    zoom: 1;
    *display: inline;
  }
  .medium-images {
    width: 47%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    zoom: 1;
    *display: inline;
  }
}

.big-image {
  width: 85%;
}

.medium-phrase {
  @extend h3;
  font-size: 3em;
}

.reveal b.small-phrase {
  font-size: 1em;
  text-transform: none;
  display: block,
}

#btn-right, #btn-left, .up-down {
  width: 0px;
  height: 0px;
  border-style: solid;
  cursor: pointer;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}

#btn-right {
  border-width: 100px 0 100px 173.2px;
  border-color: transparent transparent transparent #007bff;
}

#btn-left {
  border-width: 100px 173.2px 100px 0;
  border-color: transparent #007bff transparent transparent;
}

.up-down {
  border: none;
  width: auto;
  height: auto;
  #btn-up {
    margin-bottom: 200px;
    width: 0px;
    height: 0px;
    border-style: solid;
    cursor: pointer;
    border-width: 0 100px 173.2px 100px;
    border-color: transparent transparent #007bff transparent;
    display: block;
  }

  #btn-down {
    margin-top: 200px;
    width: 0px;
    height: 0px;
    border-style: solid;
    cursor: pointer;
    vertical-align: bottom;
    border-width: 173.2px 100px 0 100px;
    border-color: #007bff transparent transparent transparent;
    display: block;
  }
}

.controllers-body {
  text-align: center;
  background: grey;
  height: 100%;
  width: 100%;
  .controllers { margin-top: 60px; }
}

.main-footer::before {
  background: url('../images/footer-wave.svg') repeat-x;
  height: 16px;
  width: 100%;
  position: absolute;
  top: -16px;
  left: 0;
  content: "";
}

.main-footer {
  background: #fff;
  position: relative;
  bottom: 100px;
  height: 100px;
}

.footer-logo {
  padding-top: 10px;
}
